<main class="bg-black">
  <div class="d-flex">
    <div class="row">
      <div class="col col-3 card bg-black" *ngFor="let movie of allMovies">
        <img
          [src]="movie.image"
          (error)="onImageError($event)"
          class="card-img-top cover h-100"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">
            {{ movie.genere }}
          </p>
          <a href="#" class="btn btn-outline-danger"
            ><i class="bi bi-heart"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</main>
